.advantages {
   padding-top: 61px;
   padding-bottom: 70px;
}

.advantages__wrapper {
   display: flex;
   justify-content: space-between;
   margin-top: 48px;
}
.advantages-block {
   text-align: center;
   width: 237px;
}
.advantages-block__icon {
   display: flex;
   justify-content: center;
   margin-bottom: 34px;
}
.advantages-block__title {
   font-weight: 700;
   font-size: 18px;
   margin-bottom: 15px;
}
.advantages-block__descr {
   font-weight: 300;
   font-size: 14px;
   span {
      color: $main-color;
      font-weight: 300;
      font-size: 14px;
      text-transform: uppercase;
   }
}
