button {
   &:focus {
      outline: none;
   }
}
.button {
   border-radius: 5px;
   background-color: $main-color;
   width: 150px;
   height: 30px;
   border: none;
   color: #fff;
   font-size: 12px;
   text-transform: uppercase;
   &_promo {
      width: 300px;
      height: 50px;
      margin: 65px 0 15px;
      font-size: 16px;
      display: block;
   }
   &_submit {
      width: 100%;
      height: 55px;
      font-size: 16px;
   }
   &_catalog {
      width: 131px;
      height: 40px;
   }
   // &_catalog {
   //    width: 131px;
   //    height: 40px;
   //    font-size: 14px;
   // }
}
