.catalog {
   padding-bottom: 90px;
   &-tabs {
      display: flex;
      justify-content: center;
      margin: 69px 0 50px;
      padding: 0;
      list-style-type: none;
   }
   &-tab {
      width: 220px;
      height: 50px;
      border: 2px solid #d0d0d0;
      margin: 0 5px;
      text-align: center;
      text-transform: uppercase;
      color: rgb(107, 107, 107);
      font-size: 18px;
      line-height: 47px;
      transform: skewX(-25deg);
      transition: 0.3s all;
      cursor: pointer;
      &:hover {
         box-shadow: 3px 3px 15px $main-color;
         border: none;
      }
      div {
         transform: skewX(25deg);
      }
      &_active {
         background-color: $main-color;
         border: none;
         color: #fff;
      }
   }
   &-content {
      display: none;
      justify-content: space-between;
      flex-wrap: wrap;
      &_active {
         display: flex;
      }
   }
   &-item {
      border: 2px solid #d0d0d0;
      width: 300px;
      min-height: 440px;
      padding: 18px 18px 23px;
      margin: 10px 0;
      overflow: hidden;

      // .catalog-item__img
      &__wrapper {
         width: calc(200% + 36px);
         display: flex;
      }
      &__content {
         width: 50%;
         transform: translateX(-100%);
         padding-right: 18px;
         transition: 0.5s all;

         &_active {
            transform: translateX(0);
            margin-right: 18px;
            padding-right: 0;
         }
      }
      &__more {
         width: 50%;
         margin-left: 18px;
         transform: translateX(0);
         padding: 0 18px 0 19px;
         transition: 0.5s all;
         &_active {
            transform: translateX(-100%);
            margin-left: 0;
         }
         ul {
            list-style-type: none;
            margin-bottom: 0;
            padding-left: 0;

            li {
               font-size: 14px;
               color: rgb(85, 85, 85);
               line-height: 1.2;
               font-weight: 300;
               margin-bottom: 26px;
               position: relative;
               &:last-child {
                  margin-bottom: 0;
               }
               &::before {
                  content: "";
                  width: 5px;
                  height: 5px;
                  background-color: $main-color;
                  position: absolute;
                  left: -19px;
                  top: 7px;
               }
            }
         }

         a {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 9px));
         }
      }
      &__img {
         max-width: 100%;
         height: 200px;
         display: block;
         margin: 0 auto;
      }

      // .catalog-item__subtitle

      &__subtitle {
         font-size: 16px;
         line-height: 1.2;
         text-align: center;
         font-weight: 700;
         margin-top: 16px;
      }

      // .catalog-item__descr

      &__descr {
         font-size: 14px;
         line-height: 1.2;
         text-align: center;
         font-weight: 300;
         margin-top: 14px;
      }

      // .catalog-item__link

      &__link,
      &__link-back {
         display: block;
         font-size: 14px;
         color: $main-color;
         text-decoration: underline !important;
         line-height: 1.2;
         text-align: center;
         margin-top: 14px;
         text-transform: uppercase;
         &:hover {
            color: $main-color;
         }
      }
      hr {
         border: none;
         border-top: 1px solid #d0d0d0;
         margin: 20px 0;
      }
      // .catalog-item__footer

      &__footer {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }

      // .catalog-item__prices

      &__prices {
      }

      // .catalog-item__old-price

      &__old-price {
         font-size: 14px;
         font-weight: 300;
         color: rgb(85, 85, 85);
         text-decoration: line-through;
         line-height: 1.2;
      }

      // .catalog-item__price

      &__price {
         font-size: 20px;
         font-weight: 700;
         color: rgb(5, 5, 5);
         line-height: 1.2;
      }
   }
}

// .catalog {
//    &-tabs {
//       display: flex;
//       justify-content: center;
//       align-content: center;
//       margin-top: 48px;
//    }
//    &-tab {
//       width: 220px;
//       height: 50px;
//       border: 2px solid rgb(208, 208, 208);
//       font-size: 18px;
//       color: rgb(107, 107, 107);
//       text-transform: uppercase;
//       line-height: 48px;
//       text-align: center;
//       transform: skewX(-25deg);
//       margin: 0 5px;
//       transition: 0.3s all;
//       cursor: pointer;
//       &:hover {
//          box-shadow: 3px 3px 15px $main-color;
//          border: none;
//       }
//       div {
//          transform: skewX(25deg);
//       }
//       &_active {
//          background-color: $main-color !important;
//          color: #fff;
//          border: none;
//       }
//    }
//    &-content {
//       margin-top: 50px;
//       &__item {
//          border: 2px solid #e8e8e8;
//          width: 300px;
//          height: 440px;
//          padding: 18px 17px 20px;
//          overflow: hidden;
//       }
//       &__img {
//          display: block;
//          margin: 0 auto;
//          max-width: 100%;
//          height: 200px;
//          margin-bottom: 14px;
//       }
//       &__title {
//          font-size: 16px;
//          font-weight: 700;
//          text-align: center;
//       }
//       &__descr {
//          font-size: 14px;
//          font-weight: 300;
//          text-align: center;
//          margin-top: 6px;
//          line-height: 1.2;
//       }
//       &__link {
//          display: block;
//          margin-top: 11px;
//          font-size: 14px;
//          font-weight: 500;
//          text-decoration: underline !important;
//          text-align: center;
//          color: $main-color;
//          &:hover {
//             color: $main-color;
//          }
//       }
//       hr {
//          border: none;
//          border-top: 1px solid #e8e8e8;
//          margin: 16px 0;
//       }
//       &__footer {
//          display: flex;
//          justify-content: space-between;
//          align-items: center;
//       }
//       &__old-price {
//          text-decoration: line-through;
//          color: rgb(85, 85, 85);
//          font-weight: 300;
//       }
//       &__price {
//          font-weight: 700;
//          font-size: 20px;
//          color: rgb(5, 5, 5);
//       }
//       &__wrapper {
//          width: calc(200% + 34px);
//          display: flex;
//       }
//       &__face {
//          width: 50%;
//          transform: translateX(-100%);
//          &_active {
//             margin-right: 17px;
//             transform: translateX(0);
//          }
//       }

//       &__list {
//          width: 50%;
//          margin-left: 17px;
//          padding-left: 0;
//          margin-bottom: 0;
//          list-style-type: none;
//          background-color: red;
//          &_active {
//             transform: translateX(-100%);
//             padding-right: 17px;
//             margin-left: 0;
//          }
//       }
//    }
// }
