.consultation {
   background: url(../img/consultation/consultaltion-bg.jpg) center (center/cover) no-repeat;
   min-height: 680px;
   color: #fff;
   padding: 100px 0 0;
   &__descr {
      font-weight: 500;
      font-size: 20px;
      display: block;
      margin: 63px 0 35px;
      line-height: 1.2;
   }
}
.title_left {
   text-align: left;
   font-size: 36px;
   text-transform: uppercase;
   line-height: 1.2;
}
