.footer {
   position: relative;
   &-map {
      width: 100%;
      min-height: 630px;
   }
}
.address {
   padding: 45px 0 55px;
   background-color: $main-color;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 460px;
   height: 270px;
   font-size: 20px;
   color: #fff;
   line-height: 1.2;
   text-align: center;
   font-weight: 500;
   address {
      margin-bottom: 26px;
   }

   &__tel {
      display: block;
      color: #fff;
      font-weight: 700;
      margin-bottom: 35px;
      &:hover {
         color: #fff;
      }
   }
   &-social {
      display: flex;
      justify-content: center;
      align-items: center;
      &__item {
         width: 50px;
         height: 50px;
         display: flex;
         justify-content: center;
         align-items: center;
         border: 2px solid #fff;
         border-radius: 100%;
         margin: 0 15px;
         img {
            height: 27px;
         }
      }
   }
}
