.reviews {
   padding-bottom: 60px;
   .title {
      margin-bottom: 65px;
   }
   &-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 95px;
      &:last-child {
         margin-bottom: 0;
      }
   }
   &-avatar {
      width: 169px;
      height: 169px;
      border-radius: 100%;
      img {
         max-width: 100%;
      }
   }
   &-item {
      max-width: 660px;
      &__name {
         font-weight: 700;
         font-size: 18px;
         line-height: 1.2;
         margin-bottom: 8px;
      }
      &__stage {
         font-weight: 300;
         font-size: 14px;
         color: rgb(100, 100, 100);
         line-height: 1.2;
         margin-bottom: 16px;
      }
      &__answer {
         font-weight: 300;
         font-size: 16px;
         line-height: 1.2;
      }
   }
}
