* {
   font-family: "Museo Sans Cyrl", sans-serif;
   font-weight: 500;
}
.container {
   max-width: 950px;
   margin: 0 auto;
}
.title {
   text-align: center;
   font-weight: 700;
   font-size: 30px;
   text-transform: uppercase;
}
main {
   padding-bottom: 400px;
}

@import "variables";
@import "mixins";
@import "buttons";
@import "general";
@import "advantages";
@import "consultation";
@import "forms";
@import "slider";
@import "catalog";
@import "reviews";
@import "media";
