* {
   font-family: "Museo Sans Cyrl", sans-serif;
   font-weight: 500;
}
.container {
   max-width: 950px;
   margin: 0 auto;
}

@import "variables";
@import "mixins";
@import "general";
@import "media";
